# Data
data/data_multitable/
data/data_singletable/
data/data_raw/
data/data_yago/
data/etc/cc.en.300.bin

# Results
results/singletable/

# Scripts
scripts/evaluate_singletable_slurm.py
scripts/evaluate_singletable_slurm.sh

# Misc
*.pyc
.vscode/
__cache__/