name: style



on:

  push:

    branches: [main, develop]

  pull_request:

    branches: [main, develop]



jobs:

  flake8:

    runs-on: ${{ matrix.os }}

    strategy:

      matrix:

        os: [ubuntu-latest]

        python: [3.10]

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python

        uses: actions/setup-python@v1

        with:

          python-version: ${{ matrix.python }}

          architecture: x64

      - name: Run flake8

        run: |

          pip install flake8

          flake8 --version

          flake8



  isort:

    runs-on: ${{ matrix.os }}

    strategy:

      matrix:

        os: [ubuntu-latest]

        python: [3.10]

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python

        uses: actions/setup-python@v1

        with:

          python-version: ${{ matrix.python }}

          architecture: x64

      - name: Run isort

        run: |

          pip install isort

          isort --version

          isort .

          if [ -n "$(git status --porcelain --untracked-files=no)" ]; then exit 1; else echo "All clear"; fi



  mypy:

    runs-on: ${{ matrix.os }}

    strategy:

      matrix:

        os: [ubuntu-latest]

        python: [3.10]

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python

        uses: actions/setup-python@v1

        with:

          python-version: ${{ matrix.python }}

          architecture: x64

      - name: Cache python modules

        uses: actions/cache@v2

        with:

          path: ~/.cache/pip

          key: ${{ runner.os }}-python-${{ matrix.python }}-${{ hashFiles('pyproject.toml') }}

      - name: Install dependencies

        run: |

          pip install mypy

      - name: Run mypy

        run: |

          mypy --version

          mypy



  black:

    runs-on: ${{ matrix.os }}

    strategy:

      matrix:

        os: [ubuntu-latest]

        python: [3.10]

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python

        uses: actions/setup-python@v2

        with:

          python-version: ${{ matrix.python }}

          architecture: x64

      - name: Run black

        run: |

          pip install black

          black --version

          black --check --diff .
